h2{
    margin:20px 0 20px 0;
    color:#2E4C6D;
    text-align: center;
}
.list-group-item{
    border:none;
    border-bottom:1px solid #99A799;
    .datosIndicador{
        .dateOfMonth{
            color:#000;
            text-align: left;
            }
        .valueOfDate{
            color:#1597E5;
            text-align: right;
            }
        }
    
}
.desktop{
    @media (max-width:480px) {
        display: none;
    }
}
.mobile{
    @media (min-width:480px) {
        display: none;
    }
}