//IMPORTANDO LA FUENTE ROBOTO
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
//AGREGANDO LOS ESTILOS A LAS FUENTES SEGÚN LOS TERMINOS DE LA PRUEBA
h1{
    font-family:'Roboto';
    font-size:28px;
}
h2{
    font-family:'Roboto';
    font-size:20px
}
h3{
    font-family:'Roboto';
    font-size:18px;
}
p{
    font-family: Arial;
    font-size:14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
